$color-primary: #00bcd4;
$color-primary-dark: #0097a7;
$color-accent: #ffab40;
$color-light: #fff;

$color-ok: #88c100;
$color-warning: #ff003c;

$font-size-l: 30px;
$font-size-m: 22px;
$font-size-s: 16px;

$font-family: 'Open Sans', sans-serif;

$border-radius: 5px;