@import '_variables.scss';
@import '_mixins.scss';

@import '../components/list/_list.scss';
@import '../components/card/_card.scss';

body {
  background-color: $color-primary;
  margin: 0;
  font-family: $font-family;
}

@include iconFont();
