@import '../assets/bootstrap/_variables.scss';
@import '../assets/bootstrap/_mixins.scss';

@import '_variables.scss';
@import '_mixins.scss';

@import '../assets/angular-pickadate/_angular-pickadate.scss';

@import '../components/common/_common.scss';

@import '../components/_main.scss';

@import '../components/list/_list.scss';
@import '../components/card/_card.scss';
@import '../components/contenteditable/_contenteditable.scss';

body {
  background-color: $color-primary-dark;
  margin: 0;
  font-family: $font-family;
}

@include iconFont();
