.list-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: $border-radius;
  background-color: $color-primary;
  padding: 5px;
  box-sizing: border-box;
  position: relative;

  .list-title {
    text-align: center;
    color: $color-light;
    margin: 5px 0;
    cursor: pointer;
    word-wrap: break-word;

    &:hover {
      color: $color-accent;
    }
  }
  .title-editor {
    position: relative;
    background-color: $color-primary-dark;
    margin-top: 10px;
    border-radius: $border-radius;
    padding: 2px 5px;

    .title-editor-buttons {
      bottom: auto;
    }

    .title-editor-input {
      width: 80%;
    }
  }

  .list {
    list-style: none;
    padding: 5px;
    margin: 0;
  }

  .delete-list {
    position: absolute;
    top: -12px;
    right: -12px;
    outline: none;
  }

}

.new-card {
  background-color: $color-primary-dark;
  border-radius: $border-radius;
  margin: 5px;
  padding: 0 5px 40px 5px;
  position: relative;
}

