.card {
  width: 100%;
  background-color: $color-primary-dark;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: $border-radius;
  color: $color-light;
  font-size: $font-size-m;
  position: relative;

  &:hover {
    @include shadow(3);
    margin-left: 2px;
  }

  .edit-area {
    border: 2px white solid;
    width: 80%;
    resize: none;
    overflow: hidden;
  }

  .buttons-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .read-only-text {
    @include noselect();
    cursor: default;
    border-bottom: 2px $color-primary-dark solid; //compensate input field border

    &:hover {
      color: $color-accent;
      cursor: pointer;
    }
  }

  .due-date-specify {
    cursor: pointer;
    text-decoration: underline;
  }

  .delete-due-date {
    float: right;
  }

  .overdue {
    width: 10%;
    height: 2px;
    margin: -3px auto 0 auto;
  }

  .overdue-ok {
    background-color: $color-ok;
  }

  .overdue-nok {
    background-color: $color-warning;
  }
}